@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1a1a1a; 
  color: #e0e0e0; 
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.bg-gradient {
  background: linear-gradient(to bottom, #1c1c1c, #3a3a3a); 
}

.header {
  background-color: #2b2b2b; 
  padding: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #d0312d; 
  font-size: 2em;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #e0e0e0; 
  text-decoration: none;
  padding: 0.5em;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #d0312d;; 
}

.main-content {
  padding: 20px;
}

.section-title {
  text-align: center;
  color: #d0312d;
  font-size: 2.5em;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  width: 70%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: white; 
  color: black; 
}

.search-button {
  padding: 10px;
  background-color : #d0312d; 
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.songs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.song-card {
  background-color: #2b2b2b; 
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.song-card:hover {
  transform: scale(1.05);
}

.song-title {
  color: #d0312d; 
  font-size: 1.5em;
}

.play-button {
  display: block;
  text-align: center;
  background-color:#d0312d; 
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-decoration: none;
}

.upload-form .form-group {
  margin-bottom: 15px;
}

.form-input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333; 
  background-color: #3a3a3a; 
  color: #e0e0e0; 
}

.submit-button {
  width: 50%;
  padding: 10px;
  background-color: #d0312d; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.now-playing-wrapper {
  display: flex;
  justify-content: center; 
  width: 100%; 
}

.now-playing {
  text-align: center;
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 600px; 
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.control-button {
  background-color: #d0312d;
  padding: 15px;
  border-radius: 50%;
  transition: transform 0.2s, background-color 0.3s;
  cursor: pointer;
}

.control-button:hover {
  background-color: #d0312d;
  transform: scale(1.1);
}

.control-button i {
  font-size: 1.5em;
  color: white;
}

.audio-player {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  outline: none;
  background-color: #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  color: #d0312d;
}

.audio-player::-webkit-media-controls-panel {
  background-color: #2b2b2b; 
  border-radius: 10px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-form .form-group {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 50%; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #3a3a3a;
  color: #e0e0e0;
}

.submit-button {
  width: 50%; 
  padding: 10px;
  background-color:#d0312d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  background-color: black; /* Black background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px; /* Padding for better clickability */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-family: 'Poppins', sans-serif;
}

.delete-button:hover {
  background-color: #333; /* Dark gray on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.delete-button:active {
  transform: scale(0.95); /* Slight shrink on click */
}

